<% title @title || 'Propuestas' %>

<div id="propositions_list">
	<%= render @propositions %>
	<%= will_paginate @propositions %>
</div>

<% content_for :head do %>
	<%= auto_discovery_link_tag(:rss, {:format => "rss"}) %>
<% end %>
