 html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
  body { margin:0px}
h1 { font-size: 138.5%}
h2 { font-size: 123.1%}
h3 { font-size: 108%}
h1,h2,h3 { margin: 1em 0}
h1,h2,h3,h4,h5,h6,strong,dt { font-weight: bold}
optgroup {font-weight:normal}
abbr,acronym { border-bottom: 1px dotted #000; cursor: help}
em { font-style: italic}
del { text-decoration: line-through}
blockquote,ul,ol,dl { margin: 1em}
ol,ul,dl { margin-left: 2em}
ol li { list-style: decimal outside}
ul li { list-style: disc outside}
dl dd { margin-left: 1em}
th,td { border: 1px solid #000; padding: .5em}
th { font-weight: bold; text-align: center}
caption { margin-bottom: .5em;  text-align: center}
sup { vertical-align: super}
sub { vertical-align: sub}
p, fieldset, table, pre { margin-bottom: 1em}
 button, input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"] {padding:1px}
.btn {display: block; position: relative; background: #aaa; padding: 4px; margin-left: 4px; float: left; color: #fff; text-decoration: none; cursor: pointer; font-style: bold; font-size: 0.80em; font-weight: bold; text-transform: lowercase; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px}
.btn * {font-style: normal; background-image: url(/images/btn2.png); background-repeat: no-repeat; display: block; position: relative}
.btn i {background-position: top left; position: absolute; margin-bottom: -4px; top: 0; left: 0; width: 4px; height: 4px}
.btn span {background-position: bottom left; left: -4px; padding: 0 0 4px 8px; margin-bottom: -4px}
.btn span i {background-position: bottom right; margin-bottom: 0; position: absolute; left: 100%; width: 8px; height: 100%; top: 0}
.btn span span {background-position: top right; position: absolute; right: -8px; margin-left: 8px; top: -4px; height: 0}
a.btn {color:white;}
 * html .btn span, * html .btn i {float: left; width: auto; background-image: none; cursor: pointer}
 .btn.blue {background: #2ae}
.btn.green {background: #9d4}
.btn.pink {background: #e1a}
.btn.red {background-color: #d00}
.btn:hover {background-color: #666}
.btn:active {background-color: #444}
.btn[class] {background-image: url(/images/shade.png); background-position: bottom}
label {font-weight: bold}
fieldset {padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc}
legend {font-weight: bold; font-size:1.2em}
 #flash_message{ max-width:58em}
input[type=text], input[type=password], input.text, input.title, textarea, select {background-color:#fff; border:1px solid #bbb}
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#666}
input[type=text], input[type=password], input.text, input.title, input.password, textarea, select {margin:0.5em 0}
input.text, input.password, input.title {padding:5px}
input.title {font-size:1.5em}
textarea {padding:5px}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative; top:.25em}
form.inline {line-height:3}
form.inline p {margin-bottom:0}
span.field_error input[type=text], span.field_error input[type=password], span.field_error textarea, span.field_error select{ border: 3px solid red}
span.field_error{ color: red}
 .error, .errorExplanation, .notice, .success {padding: .8em; margin: 1em; border: 2px solid #ddd}
.error, .errorExplanation {background: white ; color: #cc4444; border-color: #cc4444}
.error a {color: #1199bb; text-decoration: underline;}
.errorExplanation h2 {color: #999;}
.notice {background: #FFF6BF; color: #514721; border-color: #FFD324}
.success {background: #E6EFC2; color: #264409; border-color: #C6D880}
table{ font-size: 12px; vertical-align: top}
th{ text-align: left; font-weight: bold; padding: 6px; color: #039; border: none}
td{ padding: 6px; color: #669; border:1px solid #bbb}
#comments_pagination{ width: 600px; margin: auto}
ul.pagination{ height:30px; border:0; margin:0 2em; padding: 1em}
.pagination li{ border:0; margin:0; padding:0; list-style:none; display:block; float:left; padding:3px 6px; border:solid 1px #DDDDDD; margin-right:2px; font-size: 1.1em}
.pagination .previous, .pagination .next {color:#666666; display:block; float:left; font-weight:bold}
.pagination .next a, .pagination .previous a {font-weight:bold; border:solid 1px #FFFFFF}
.pagination .current{ color:#FF9D29; font-weight:bold}
.pagination a:link, .pagination a:visited {color:#106999; text-decoration:none}
.pagination li:hover{ border:solid 1px #086797}
html{ background-color: #FFF; color: #444}
body{ font:13px/1.231 Lucida Grande,Verdana,sans-serif}
#wrapper{ max-width:85.72em; min-width:68em; margin:auto; text-align:left}
#header{ padding: 5px; margin:auto; text-align:left; border-bottom:1px solid #ccc}
a{ text-decoration: none}
h1, h2, h3, h4, h5, h6{ color: #086797}
h1 {font-size: 165.5%}
h2 {font-size: 138.5%}
h3 {font-size: 123.1%}
ul li{ list-style-type: square; margin-bottom: 1.2em}
a:hover {color: #EE8C18}
dt{ clear: left; float: left; padding: 1em}
dd{ padding: 1em; margin:0}
blockquote{ font-style: italic; font-family: Georgia, Times, serif;}
}
#wrapper{ background-color: white}
#footer{ color: white; background-color: #086797; text-align: center; padding: 10px; clear: both; border-top:3px solid #BBBBBB}
#footer_links{ width: 55em; margin: 1em auto}
#footer p{ float: left}
#footer a{ color: white; font-weight: bolder; margin: 1em}
#footer_icons{ width: 30em; margin: 1em auto}
#dialog{ display: none}
#content{ padding-bottom: 2em}
#bd {background-color: white}
#left_column{ margin: 5px 335px 0px 0px; padding: 0px 30px}
#main_column{ padding: 20px}
#user_nav{ float: right; color: #bbf; margin: 20px}
#user_nav a{ font-size: 1.1em; font-weight: bold; color: #086797}
#user_nav a:hover{ color: #EE8C18}
span.greeting{ color: #666; font-weight: bold}
#search{ clear: right; float: right; width: 290px; height: 30px}
#search label{ display:none}
#logo{ background-image:url('/images/logo.png'); background-repeat:no-repeat; background-position:top left; margin-bottom: 6px}
#logo p {margin-bottom: 0}
#logo p span{ visibility: hidden; font-size: 1.5em; padding: 5px}
p#motto {font: bold 0.9em 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; color: white; margin-left: 22px; margin-top: -6px; text-transform: uppercase; text-shadow: 1px 1px 1px #77d}
#logo a {font-family: 'Lucida Grande', 'Lucida Sans Unicode',sans-serif; font-size: 2em; color: #FFF; text-shadow: 1px 1px 2px #ccc}
#menu_nav{ height: 30px; margin: 10px}
#menu_nav a{ color: #086797; font-size: 1.2em; font-weight: bold}
#menu_nav a:hover{ color: #EE8C18}
#menu_nav li{ margin-left: 20px; padding-top: 5px; list-style-type: none; float: left; height: 25px}
#menu_nav li a{ margin: 4px 15px 2px 15px; height: 27px}
#menu_nav li.active{ background-color: #086797; -moz-box-shadow: 4px 3px 4px #ccc; -webkit-box-shadow: 4px 3px 4px #ccc}
#menu_nav li.active a {color: white}
#menu_nav li.active a:hover {color: #EE8C18}
#flash_message{ margin: 5px 30px}
.shadow{ box-shadow: 3px 3px 3px #ccc; -moz-box-shadow: 3px 3px 3px #ccc; -webkit-box-shadow: 3px 3px 3px #ccc}
.rounded{ border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px}
 #proposition h1{ margin: 1em 0 0}
div.proposition {margin: 30px 0 35px}
.prop_promote{ display: block; height: 30px}
div.proposition h3{ margin: 0px}
div.proposition h3 a{ color: #086797}
.prop_details{ padding: 0 0.5em; font-size: 0.98em; background-color: #ffd; border-bottom: 1px solid #ccc}
.prop_ratings{ font-size: 1em; padding: 0.6em 0.6em 0.2em 0.6em}
.prop_ratings span, .prop_ratings img{ vertical-align: bottom}
.comments_count{ margin-left: 0.5em}
.prop_details, .prop_ratings, .comments_count a, a.votes_count {color: #EE8C18}
.prop_details a{ color: #EE8C18; font-weight: bolder}
.prop_details a:hover, .comments_count a:hover{ color: #086797}
.vote{ color: #086797}
.proposition_body{ padding: 1em; font: 13px/1.231 arial,helvetica,clean,sans-serif}
.vote_until{ float: right; font-size:0.95em; position: relative; top: 4px}
.user_rating{ float: right}
.prop_votes{ float: right}
.prop_votes span a{ font-size: 0.88em; color: white}
.vote_proposition, #rating_form{ font-size: 106%; padding:40px}
.vote_proposition input[type="submit"], #rating_form input[type="submit"]{ position: relative; bottom: 55px; left: 200px}
.ratings_sum{ font-weight: bolder}
.share img{ border: none}
 #comments{ margin-bottom: 3em}
.comment{ margin: 2em 1em; font: 13px/1.231 arial,helvetica,clean,sans-serif}
.comment_body{ background-color: #ffd; padding: 4px 8px; border: 1px solid #ddd}
.comment_details{ font-size: 0.88em; color: #086797; vertical-align:text-top}
.comment_details img{ display: inline; margin: 2px 6px; float: left}
#new_comment .markedit, #new_comment .markedit-toolbar {clear: none}
div.markedit .ui-widget-header {border: none; background: none}
div.markedit .ui-widget-content{ background: none}
div.side_help{ float: right; width: 270px; padding: 5px 20px; border: 1px solid #EE8C18; background-color: #ffe; margin-bottom: 20px}
#register_notice{ margin: 30px}
#markdown_reference{ width: 40em}
hr{ clear: both; width: 80%; margin: 30px auto; border:0; border-top:solid 1px #086797; color:#fff}
.separator{ clear: both; visibility: hidden; height: 0px; margin: 0px; border: none}
.admin_section{ color: #8a1f11; border-color: #FBA0A2; font-weight: bold; border: 2px solid #ddd; margin: 10px 0}
.admin_hd{ cursor: move; margin: 0 auto; padding: 0.5em 1em; background-color: #FBA0A2}
.admin_hd p{ margin: 0}
.admin_bd{ background-color: #fff; padding: 0.4em; margin: 0}
.admin_bd p{ text-align: center}
#create_proposition{ padding: 20px}
#create_proposition .markedit, #create_proposition .markedit-toolbar{ clear: none}
#editor_preview{ display: none}
#mark_preview{ border: 2px dashed #ccc; padding: 5px}
div.markedit-toolbar div.toolbar-group:last-child{ float: right; margin-right:0}
#announcement{ margin: 0; background-color: #aa4444; border: none; padding: 0.8em; font: bold 1em Lucida Grande,Verdana,sans-serif; text-align:center}
#announcement a{ text-decoration:underline; color:#9999FF}
#announcement p{ margin: 0.4em; color: white}
p.close_announcement{ margin:0px auto; float: right; width: 18px; height: 18px}
#announcement p.close_announcement a{ font-size: 1.1em; color: white; margin: 4px; text-decoration: none}
.votes_count, .yes_count, .no_count {font-weight: bolder}
.votes_details{ border:solid 1px #086797; padding: 20px; margin: -0.7em 0 3em 0}
.vote_chart{ float: left}
.votes_details table{ width: 195px; position: relative; right: 0px; margin: 15px 5px 20px 5px}
.votes_details li{ list-style-type: none; font-size: 108%}
#page_content h3{ border-bottom: 1px solid #ccc}
#user_list{ width: 500px}
#openid_form{ width: 420px; float:left}
#openid_form p, #password_form p{ margin: 1em}
#openid_form div.fieldWithErrors br, #password_form div.fieldWithErrors br{ display: none}
#password_form{ width: 260px; float:left; margin: 0 15px}
#new_user_session fieldset{ padding: 1em}
 a.id_provider{ }
#openid_links{ display: none}
#openid_field{ clear: both; margin: 20px; padding: 10px}
ul#identity_providers{ list-style-type: none; width: 330px}
ul#identity_providers li {padding: 5px; float: left; margin: 5px; border: 1px solid #ddd; width: 85px; height: 30px; display: block; cursor: pointer}
ul#identity_providers li a span{ display: none}
#yahoo img{ margin: 4px}
#alternate_register{ clear: left; font-size: 0.9em}
.markedit {clear: left}
.markedit textarea {width: 95%}
.markedit-toolbar {padding: 0.3em; margin: 0; clear: both; height: 22px; -moz-border-radius-topleft:8px; -moz-border-radius-topright:8px; width: 95%;}
.markedit-toolbar .toolbar-group {margin-right: 0.5em; padding: 0 0 0 5px; float: left}
.markedit-toolbar .toggle-group {}
.markedit-toolbar .toggle-group button {font-size: 0.85em; font-weight: bold; padding: 0.15em 0.5em}
.markedit-toolbar .toggle-group button:first-child {-moz-border-radius-bottomleft:11px; -moz-border-radius-topleft:11px; -moz-border-radius-bottomright:0; -moz-border-radius-topright:0}
.markedit-toolbar .toggle-group button:last-child {-moz-border-radius-bottomleft:0; -moz-border-radius-topleft:0; -moz-border-radius-bottomright:11px; -moz-border-radius-topright:11px}
.markedit-toolbar button {height: 22px; outline: 0; cursor: pointer}
.markedit-toolbar button.icon {width: 22px; background-repeat: no-repeat; margin: 0 5px 0 0}
.markedit .light-bg button.icon {background-image: url(/images/wmd-buttons.png)}
.markedit .dark-bg button.icon {background-image: url(/images/wmd-buttons-dark.png)}
.markedit-toolbar button.bold {background-position: 0px 0px}
.markedit-toolbar button.italic {background-position: -20px 0px}
.markedit-toolbar button.link {background-position: -40px 1px}
.markedit-toolbar button.quote {background-position: -60px 0px}
.markedit-toolbar button.code {background-position: -80px 1px}
.markedit-toolbar button.image {background-position: -100px 1px}
.markedit-toolbar button.numberlist {background-position: -120px 0px}
.markedit-toolbar button.bulletlist {background-position: -140px 0px}
.markedit-toolbar button.heading {background-position: -160px 0px}
.markedit-toolbar button.line {background-position: -180px 0px}
.markedit-toolbar button.undo {background-position: -200px 0px}
.markedit-toolbar button.redo {background-position: -220px 0px}
.markedit-toolbar button.help {background-position: -240px 0px}
.markedit-dialog {font-size: 0.75em}
.markedit-dialog input {width: 100%}
.markedit-preview {padding: 15px}
form.edit_user{ margin-right: 21em}
#user_profile{ clear: left; float: left; width: 100%}
form.edit_user fieldset{ background-color: #FFFFEE }
#identity_verification_wrapper{ margin-left: 2em; min-width: 17em; margin-top:10px; float: right}
#identity_verification{ padding: 1em; border: 1px solid #ddd; background-color: #FFFFEE}
#service_credit{ font-size: 0.85em; margin: 1em 0}
#profile_gravatar{ width: 40em}
#profile_gravatar h1{ font-size: 200%}
#profile_gravatar img{ float: left; margin: 1em}
#profile_gravatar h2, #profile_gravatar h1{ margin: 1em; position:relative; top:1.2em}
#user_details{ clear: left}
#right_column{ width: 300px; float: right; padding: 0.5em 1em}
.module{ margin-bottom: 3em}
.module_body{ box-shadow: 3px 2px 10px #ccc; -moz-box-shadow: 3px 2px 10px #ccc; -webkit-box-shadow: 3px 2px 10px #ccc; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #666; background-color:#FFFFDD; padding: 0.5em; border: 1px solid #ddd}
#right_column .module_body{ font-size: 0.9em}
.module_header{ padding: 0em 0.3em; font-size: 140%}
.module_header h3{ font-size: 92%}
.module_header h4{ font-size: 90%}
.module ul{ margin: 1em}
#right_column .module ul li{ list-style-type: none; margin-bottom: 1.5em; font-weight: bolder; border-bottom: 1px solid #ddd}
.module a{ color: #086797}
.module a:hover{ color: #EE8C18}
.comment_best p{ margin-bottom: 0.3em}