development:
    adapter: mysql
    encoding: utf8
    reconnect: false
    database: wassembly_development
    pool: 5
    timeout: 5000
    username: root
    password:
    socket: /tmp/mysql.sock

test: &TEST
    adapter: mysql
    encoding: utf8
    reconnect: false
    database: wassembly_test
    pool: 5
    username: root
    password:
    socket: /tmp/mysql.sock
    timeout: 5000

production:
    adapter: mysql
    encoding: utf8
    reconnect: false
    database: wassembly_production
    pool: 5
    username: YOUR_PRODUCTION_DB_USERNAME
    password: YOUR_PRODUCTION_DB_PASSWORD
    timeout: 5000

cucumber:
    <<: *TEST